body {
  margin: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 30vh;
}

header {
  background-color: #212121;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3em;
  
}

header nav a {
  margin: 0 1em;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: #eee;
}

input:active,
input:focus {
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}

input:active::placeholder,
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 2em 0;
}

.about {
  padding: 2em;
  text-align: center;
  width: 60%;
  font-size: x-large;
  font-weight: bold;
}

.search-input {
  border: 2px solid black;
  color: black;
}

/* form {
  height: 200px;
  width: 200px;
  background-color: black;
} */

.storyForm {
margin: 0 auto;
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  color: black;

}
.storyText {
  border: 2px solid black;
}

.commentUser {
  color: black;
  border: 1px solid black;
   height: 10px;
  width: 100px;
}

.commentText {
  height: 40px;
  width: 300px;
}
.commentForm {
  display: flex;
  justify-content: space-between;
}